/dev
/log/*
/tmp/*
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
/.git
/.bundle

*.swp

docker-compose.yml
docker-compose.production.yml
Dockerfile
yarn-debug.log*

.gitignore
.yarn-integrity

/config/master.key

!.env.sample
.env

/spec/example.txt
