version: "3.8"

services:
  db:
    image: postgres:13.0
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: demoappuser
      POSTGRES_DB: public_interviews_backend_development
    volumes:
      - ./dev/data:/var/lib/postgresql/data

  app:
    build:
      context: .
      target: dev
    command: bash -c "bin/drun.sh"
    depends_on:
      - db
    ports:
      - 3010:3000
    volumes:
      - .:/usr/src/app
    environment:
      RAILS_ENV: development
      DATABASE_NAME: public_interviews_backend_development
      DATABASE_USERNAME: demoappuser
      DATABASE_PASSWORD: password
      DATABASE_HOST: db

networks:
  default:
    name: intv-nw
